<div class="wrapper">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="results <%= 'justify-content-center' if !user_signed_in? %>">
          <span>
            <%= page_entries_info @connections, entry_name: 'Connection' %>
          </span>
          <div>
            <% if policy(Connection).create? %>
              <% if current_user.connections.any? %>
                <%= link_to stats_connections_path, class: "text-link me-3" do %>
                  <span class="new-issue pb-1">STATS <i class="bi bi-graph-up ms-1"></i></span>
                <% end %>
              <% end %>
              <%= link_to connections_path, data: { turbo_method: :post }, class: "text-link" do %>
                <span class="new-issue pb-1">BUILD YOUR CONNECTIONS <i class="bi bi-plus-lg"></i></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="connections-grid">
        <% @connections.each do |connection| %>
          <%= link_to connection_path(connection), class: "each-connection-link #{ 'disabled' if connection.user == current_user }" do %>
            <div class="d-flex align-items-center justify-content-between m-1 position-relative">
              <% if user_signed_in? %>
                <% @attempt = current_user.attempts.find_by(connection: connection) %>
                <% if @attempt&.completed %>
                  <%= image_tag 'completed.svg', width: 64 %>
                <% elsif @attempt&.failed %>
                  <%= image_tag 'failed.svg', width: 64 %>
                <% else %>
                  <%= image_tag 'unplayed.svg', width: 64 %>
                <% end %>
              <% else %>
                  <%= image_tag 'unplayed.svg', width: 64 %>
              <% end %>
              <div class="creator">
                <%= image_tag connection.user.image_url, class: "avatar-sm" %><p class="ms-1"><%= connection.user.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-12">
        <div class="my-5 d-flex justify-content-center">
          <%= paginate @connections %>
        </div>
      </div>
    </div>
  </div>
</div>