<div class="container mt-5 pt-5">
  <div class="row">
    <% @connections.each do |connection| %>
      <div class="col-6">
        <%= link_to connection_path(connection), class: "text-decoration-none" do %>
          <div class="row m-0">
            <% connection.groups.pluck(:words).flatten.each do |word| %>
              <div class="col-3 px-1 mb-2">
                <div class="card rounded-3 d-flex justify-content-center align-items-center p-2">
                  <p class="mb-0"><%= word %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="d-flex align-items-center justify-content-between my-1 mx-1">
          <div class="d-flex align-items-center">
            <%= image_tag connection.user.image_url, class: "avatar mx-2", style: "border: 1px solid yellow" %>
            <h4 class="posted mb-0"><%= connection.user.name %></h4>
          </div>
          <% @attempt = current_user.attempts.find_by(connection: connection) %>
          <% if @attempt&.completed %>
            <%= image_tag 'completed.svg', width: 38 %>
          <% elsif @attempt&.failed %>
            <%= image_tag 'failed.svg', width: 38 %>
          <% else %>
            <%= image_tag 'unplayed.svg', width: 38 %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

