<div class="wrapper">
  <div class="container mb-5">
    <h1 class="boldest text-center mt-5 mb-4 <%= @dark_mode ? 'grey' : 'black' %>">Solved an issue?</h1>
    <%= simple_form_for @issue do |f| %>
      <%= f.input :title, input_html: { class: 'form-input', placeholder: 'The title of your issue is?' } %>
      <%= f.input :error_message, input_html: { class: 'form-input', placeholder: 'What was your error message... (optional)' } %>
      <%= f.rich_text_area :content, placeholder: 'Add issue content here (use style buttons above to customise your article)', class: "normal-mode" %>
      <%= f.submit "LET'S SOLVE IT!", class: 'primary-button' %>
    <% end %>
  </div>
</div>



<script>
  document.querySelector('trix-editor').insertAdjacentHTML('beforebegin', `<p class="small-text grey mb-1">Hint: Click the paperclip 📎 to attach images. Use (< >) for a code block</p>`)
</script>
