<div class="wrapper">
  <div class="container mb-5">
    <h3 class="boldest text-center mt-5 mb-4 <%= @dark_mode ? 'grey' : 'black' %>">Solved an issue?</h3>
    <%= simple_form_for @issue do |f| %>
      <%= f.input :title, input_html: { class: 'form-input', placeholder: 'The title of your issue is?' } %>
      <%= f.rich_text_area :content, placeholder: 'Add issue content here (use style buttons above to customise your article)', class: "normal-mode" %>
      <%= f.input :tags, label: 'Tags', collection: ActsAsTaggableOn::Tag.all, value_method: :name, input_html: { multiple: true, data: { controller: 'select2', select2_options_value: { tags: true }}} %>

      <%= f.submit "LET'S SOLVE IT!", class: 'primary-button' %>
    <% end %>
  </div>
</div>

<script>
  document.querySelector('trix-editor').insertAdjacentHTML('beforebegin', `<p class="small-text grey mb-1">Hint: Click the paperclip 📎 to attach images. Use (< >) for a code block</p>`)
</script>
