<div class="wrapper" data-controller="issues">
  <div class="issues-wrapper">
    <%= link_to 'https://www.instagram.com/chezlini/', target: '_blank' do %>
      <div class="top-ad" style="background-image: url(<%= asset_path 'chezlini-ad.png' %>)"></div>
    <% end %>
    <div class="d-flex">
      <div class="issues-container">
        <div class="title-with-votes">
          <h3 class="mb-0"><%= @issue.title %></h3>
          <p class="date-posted mb-3"><%= time_ago_in_words(@issue.created_at) %> ago</p>
          <%= render 'votes', subject: @issue %>
          <% @issue.tags.each do |tag| %>
            <span class="tag tag-small <%= render 'tag_class', tag: tag %>"><%= tag.name %><%= render 'tag_icons', tag: tag %></span>
          <% end %>
        </div>
        <hr>
        <% if @issue.error_message %>
          <h6>Error Message:</h6>
          <h5 class="mb-3 f-200"><%= @issue.error_message %></h5>
        <% end %>
        <h6>Content:</h6>
        <%= @issue.content %>
        <!-- Alternative solutions -->
        <% if @issue.alternatives.any? %>
          <hr class="seperator">
          <h5 class="mb-3">The alumni community has posted <%= @issue.alternatives.count %> alternative solutions</h5>
        <% end %>
        <% if policy(Alternative).create? %>
            <hr>
          <span class="text-link alternative-form-link" data-action="click->issues#showForm">HAVE AN ALTERNATIVE SOLUTION? <i class="bi bi-plus-lg ms-2"></i></span>
          <div class="pt-3 d-none" data-issues-target="form">
            <%= simple_form_for [@issue, @alternative] do |f| %>
              <%= f.rich_text_area :content, placeholder: 'Add issue content here (use style buttons above to customise your article)', class: "normal-mode" %>
              <%= f.submit "LET'S ADD IT!", class: 'primary-button' %>
            <% end %>
          </div>
          <hr>
        <% end %>
        <% if @issue.alternatives.any? %>
          <div class="position-relative">
            <% @issue.alternatives.each_with_index do |alternative, index| %>
              <% unless index == 0 %>
                <hr>
              <% end %>
              <div class="alternative-card">
                <p class="posted mb-0">Posted by <%= alternative.user.email %></p>
                <p class="posted date-posted mb-3"><%= time_ago_in_words(alternative.created_at) %> ago</p>
                <%= alternative.content %>
                <%= render 'votes', subject: alternative %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="side-ad-container">
        <%= link_to 'https://www.myfootprint.ai/business', target: '_blank' do  %>
          <div class="side-ad" style="background-image: url(<%= asset_path 'myfootprint.png' %>)"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
