<div class="wrapper" data-controller="issues">
  <div class="issues-wrapper">
    <%= link_to 'https://www.instagram.com/chezlini/', target: '_blank' do %>
      <div class="top-ad" style="background-image: url(<%= asset_path 'chezlini-ad.png' %>)"></div>
    <% end %>
    <div class="issue-holder">
      <div class="issues-container">
        <turbo-frame id="issue">
          <div class="title-with-votes">
            <h3 class="mb-0"><%= @issue.title %></h3>
            <div class="subject-user my-3">
              <%= image_tag @issue.user.image_url, class: "avatar me-2" %>
              <div class="">
                <p class="posted mb-0">
                  Posted by <%= link_to @issue.user.name, "https://github.com/#{@issue.user.nickname}", class: "text-link", target: "_blank" %>
                  <%= link_to '<i class="bi bi-pen"></i>'.html_safe, edit_issue_path(@issue), class: "edit-link" if policy(@issue).edit? %></p>
                <p class="posted date-posted mb-0"><%= time_ago_in_words(@issue.created_at) %> ago</p>
              </div>
            </div>
            <div class="upvote">
              <%= render 'shared/votes', subject: @issue %>
            </div>
            <% @issue.tags.each do |tag| %>
              <span class="tag tag-small <%= render 'shared/tag_class', tag: tag %>"><%= tag.name %><%= render 'shared/tag_icons', tag: tag %></span>
            <% end %>
          </div>
          <hr>
          <% if @issue.error_message.present? %>
            <div class="error-message">
              <p class="">Error message:</p>
              <p class=""><%= @issue.error_message %></p>
            </div>
            <hr>
          <% end %>
          <%= @issue.content %>
        </turbo-frame>
        <!-- Alternative solutions -->
        <% if @issue.alternatives.any? %>
          <hr class="seperator">
          <h6 class="mb-3">The alumni community has posted <%= pluralize(@issue.alternatives.count, "alternative solution") %></h6>
        <% end %>
        <% if policy(Alternative).create? %>
            <hr>
          <span class="text-link alternative-form-link" data-action="click->issues#showForm">HAVE AN ALTERNATIVE SOLUTION? <i class="bi bi-plus-lg ms-2"></i></span>
          <div class="pt-3 d-none" data-issues-target="form">
            <%= simple_form_for [@issue, @alternative] do |f| %>
              <%= f.rich_text_area :content, placeholder: 'Add issue content here (use style buttons above to customise your article)', class: "normal-mode" %>
              <%= f.submit "LET'S ADD IT!", class: 'primary-button' %>
            <% end %>
          </div>
          <hr>
        <% end %>
        <% if @issue.alternatives.any? %>
          <div class="alternatives-container">
            <% @issue.alternatives.order(created_at: :desc).each_with_index do |alternative, index| %>
              <% unless index == 0 %>
                <hr>
              <% end %>
              <%= render 'alternatives/alternative', alternative: alternative, issue: @issue %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="side-ad-container">
        <%= link_to 'https://www.lewagon.com/blog', target: '_blank' do  %>
          <div class="side-ad" style="background-image: url(<%= asset_path 'blog-ad.png' %>)"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
