<% if user_signed_in? %>
  <% if current_user.voted_for? subject %>
      <i class="bi bi-caret-up-fill disabled"></i>
  <% else %>
    <% if subject.class.name == "Issue" %>
      <%= link_to upvote_issue_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-up-fill"></i>
      <% end %>
    <% elsif subject.class.name == "Alternative" %>
      <%= link_to upvote_alternative_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-up-fill"></i>
      <% end %>
    <% else %>
      <%= link_to upvote_resource_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-up-fill"></i>
      <% end %>
    <% end %>
  <% end %>
  <p class="mb-0 text-center"><%= subject.votes_for.size %></p>
  <% if current_user.voted_for? subject %>
    <% if subject.class.name == "Issue" %>
      <%= link_to remove_upvote_issue_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-down-fill"></i>
      <% end %>
    <% elsif subject.class.name == "Alternative" %>
      <%= link_to remove_upvote_alternative_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-down-fill"></i>
      <% end %>
    <% else %>
      <%= link_to remove_upvote_resource_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-down-fill"></i>
      <% end %>
    <% end %>
  <% else %>
    <i class="bi bi-caret-down-fill disabled"></i>
  <% end %>
<% else %>
  <div class="d-flex flex-column justify-content-center align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign in/up to upvote">
    <i class="bi bi-caret-up-fill disabled"></i>
    <p class="mb-0 text-center"><%= subject.votes_for.size %></p>
    <i class="bi bi-caret-down-fill disabled"></i>
  </div>
<% end %>
