<section class="wrapper">
  <div class="banner">
    <div class="banner-content">
      <h1>Find solutions for your issues</h1>
      <p>Search for an issue that you've been stuck on and find solutions posted by the Le Wagon alumni community!</p>
      <div class="banner-form">
        <%= form_with url: issues_path, method: "GET", html: { class: 'd-flex mb-3' } do |f| %>
          <%= text_field_tag :query, params[:query], label: false, placeholder: "What issue are you having?", class: 'form-control form-input inline-form w-100', value: params[:query] %>
          <%= button_tag "SEARCH", class: "btn form-btn" %>
        <% end %>
      </div>
    </div>
    <%= image_tag 'hero-image.png', class: 'banner-image', alt: 'Couple of codebreakers' %>
  </div>
</section>
<%#= image_tag @dark_mode ? 'slanted-dark.svg' : 'slanted.svg', class: "w-100 slant" %>
<%= image_tag @dark_mode ? 'road-break-dark.svg' : 'road-break.svg', class: "w-100 road-break" %>
<section class="bg-purple">
  <div class="wrapper wrapper-p">
    <div class="home-support">
      <p class="mb-5 text-center">Support the Le Wagon community by uploading solutions for issues you’ve come across in your time as a developer.</p>
    </div>
  </div>
</section>
