<div class="wrapper" data-controller="issues">
  <div class="issues-wrapper">
    <%#= link_to 'https://www.instagram.com/kobrasfc/', target: '_blank' do %>
      <!-- <div class="top-ad" style="background-image: url(<%#= asset_path 'kobra-ad.png' %>)"></div> -->
    <%# end %>
    <%= link_to 'https://localista.ai/', target: '_blank' do %>
      <div class="top-ad" style="background-image: url(<%= asset_path 'localista.png' %>)"></div>
    <% end %>
    <%= form_with url: resources_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <div class="mb-3 string required search_query">
        <%= text_field_tag :query, params[:query], label: false, placeholder: "What resource are you looking for?", class: 'form-input form-control', value: params[:query] %>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-issues-target="tagsBtn">
              Tags
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" data-issues-target="tags">
            <div class="accordion-body">
              <fieldset class="mb-3 check_boxes required tags">
                <input type="hidden" name="tags[]" value="" autocomplete="off">
                <% @tags.each do |tag| %>
                  <div class="tag-item">
                    <input class="form-check-input check_boxes required tag-selector" type="checkbox" value="<%= tag.name %>" name="tags[]" id="tags_<%= tag.name %>" onchange="this.form.submit();" <%= 'checked' if params[:tags]&.include?(tag.name) %>>
                    <label class="form-check-label collection_check_boxes" for="tags_<%= tag.name %>"><%= tag.name %></label>
                  </div>
                <% end %>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="issue-holder">
      <div class="issues-container">
        <div class="results">
          <span>
            <%= page_entries_info @resources %>
          </span>
          <% if policy(Resource).create? %>
            <%= link_to new_resource_path, class: "text-link" do %>
              <span class="new-issue">ADD RESOURCE <i class="bi bi-plus-lg"></i></span>
            <% end %>
          <% end %>
        </div>
        <div class="resource-cards">
          <% @resources.each do |resource| %>
            <div class="resource-card">
              <div class="resource-image-container mb-3">
                <%= link_to resource.link, target: '_blank' do %>
                  <% if resource.photo.attached? %>
                    <%= cl_image_tag resource.photo.key, class: 'resource-image w-100' %>
                  <% else %>
                    <%= image_tag 'default-resource.png', class: 'resource-image w-100' %>
                  <% end %>
                <% end %>
                <div class="upvote">
                  <%= render 'shared/votes', subject: resource %>
                </div>
              </div>
              <h6 class="mb-2"><%= resource.title %></h6>
              <p class="mb-1"><%= resource.description %></p>
              <hr class="mt-0 mb-1">
              <div class="mb-2">
                <p class="posted mb-0">Posted by <%= link_to resource.user.name, "https://github.com/#{resource.user.nickname}", class: "text-link", target: "_blank" %></p>
                <p class="posted date-posted mb-0"><%= time_ago_in_words(resource.created_at) %> ago</p>
              </div>
              <div class="">
                <% resource.tags.each do |tag| %>
                  <span class="tag tag-small <%= render 'shared/tag_class', tag: tag %>"><%= tag.name %><%= render 'shared/tag_icons', tag: tag %></span>
                <% end %>
              </div>
              <% if policy(resource).edit? %>
                <div class="crud-links">
                  <%= link_to edit_resource_path(resource) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to resource_path(resource), data: { "turbo-method": :delete, confirm: 'Are you sure you want to delete this resource?' } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="my-5 d-flex justify-content-center">
          <%= paginate @resources %>
        </div>
      </div>
      <div class="side-ad-container">
        <%= link_to 'https://uikit.lewagon.com/', target: '_blank' do  %>
          <div class="side-ad" style="background-image: url(<%= asset_path 'ui-kit-ad.png' %>)"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
