<div class="wrapper" data-controller="issues">
  <div class="issues-wrapper">
    <%= link_to 'https://www.instagram.com/kobrasfc/', target: '_blank' do %>
      <div class="top-ad" style="background-image: url(<%= asset_path 'kobra-ad.png' %>)"></div>
    <% end %>
    <%= simple_form_for :search, url: resources_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :query, label: false, placeholder: "What resource are you looking for?", input_html: { class: 'form-input', value: params[:search][:query] } %>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-issues-target="tagsBtn">
              Tags
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" data-issues-target="tags">
            <div class="accordion-body">
              <fieldset class="mb-3 check_boxes required search_tags">
                <input type="hidden" name="search[tags][]" value="" autocomplete="off">
                <% @tags.each do |tag| %>
                  <div class="tag-item">
                    <input class="form-check-input check_boxes required tag-selector" type="checkbox" value="<%= tag.name %>" name="search[tags][]" id="search_tags_<%= tag.name %>" onchange="this.form.submit();" <%= 'checked' if params[:search][:tags]&.include?(tag.name) %>>
                    <label class="form-check-label collection_check_boxes" for="search_tags_<%= tag.name %>"><%= tag.name %></label>
                  </div>
                <% end %>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="d-flex">
      <div class="issues-container">
        <div class="results">
          <span>
            <%= page_entries_info @resources %>
          </span>
          <% if policy(Resource).create? %>
            <%= link_to new_resource_path, class: "text-link" do %>
              <span class="new-issue">ADD RESOURCE <i class="bi bi-plus-lg"></i></span>
            <% end %>
          <% end %>
        </div>
        <div class="resource-cards">
          <% @resources.each do |resource| %>
            <div class="resource-card">
              <div class="resource-image-container mb-3">
                <%= link_to resource.link, target: '_blank' do %>
                  <%= cl_image_tag resource.photo.key, class: 'resource-image w-100' %>
                <% end %>
                <%= render 'shared/votes', subject: resource %>
              </div>
              <h6 class="mb-2"><%= resource.title %></h6>
              <p class="mb-2"><%= resource.description %></p>
              <div class="">
                <% resource.tags.each do |tag| %>
                  <span class="tag tag-small <%= render 'shared/tag_class', tag: tag %>"><%= tag.name %><%= render 'shared/tag_icons', tag: tag %></span>
                <% end %>
              </div>
              <% if policy(resource).edit? %>
                <div class="crud-links">
                  <%= link_to edit_resource_path(resource) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to resource_path(resource), data: { "turbo-method": :delete, confirm: 'Are you sure you want to delete this resource?' } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="my-5 d-flex justify-content-center">
          <%= paginate @resources %>
        </div>
      </div>
      <div class="side-ad-container">
        <%= link_to 'https://www.myfootprint.ai/business', target: '_blank' do  %>
          <div class="side-ad" style="background-image: url(<%= asset_path 'myfootprint.png' %>)"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
