<div class="wrapper">
  <div class="container mb-5">
    <h3 class="boldest text-center mt-5 mb-4 <%= @dark_mode ? 'grey' : 'black' %>">Got a resource?</h3>
    <%= simple_form_for @resource do |f| %>
      <%= f.input :title, input_html: { class: 'form-input', placeholder: 'The title of your resource is?' } %>
      <%= f.input :description, input_html: { class: 'form-input', placeholder: 'What is it for?' } %>
      <%= f.input :link, input_html: { class: 'form-input', placeholder: 'What the url of the resource?' } %>
      <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: "UPLOAD PHOTO" %>
      <small style="display: block; margin: -8px 0 16px;">If uploading an image please try to keep it to dimensions similar to 694x464. Thanks!</small>
      <%= f.input :tags, label: 'Tags', collection: ActsAsTaggableOn::Tag.all, value_method: :name, input_html: { multiple: true, data: { controller: 'select2', select2_options_value: { tags: true }}} %>

      <%= f.submit "LET'S SHARE IT!", class: 'primary-button' %>
    <% end %>
  </div>
</div>
