<div class="alternative-card">
  <div class="subject-user mb-3">
    <%= image_tag alternative.user.image_url, class: "avatar me-2" %>
    <div class="">
      <p class="posted mb-0">Posted by <%= link_to alternative.user.name, "https://github.com/#{alternative.user.nickname}", class: "text-link", target: "_blank" %><%= link_to '<i class="bi bi-pen"></i>'.html_safe, edit_issue_alternative_path(@issue, alternative), class: "edit-link" if policy(alternative).edit? %></p>
      <p class="posted date-posted mb-0"><%= time_ago_in_words(alternative.created_at) %> ago</p>
    </div>
  </div>
  <%= alternative.content %>
  <div class="upvote">
    <%= render 'shared/votes', subject: alternative %>
  </div>
</div>
